
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
allure-results/
allure-report/

# Cucumber HTML report
reports/cucumber-report.html
